export GTK_IM_MODULE='uim'
export QT_IM_MODULE='uim'
uim-xim &
export XMODIFIERS='@im=uim'

xset r rate 250 30
xsetroot -cursor_name left_ptr&

setxkbmap -option compose:menu

MON=$(xrandr -q | grep -o "HDMI2 connected")
if [ "$MON" = "HDMI2 connected" ]; then
    ~/.screenlayout/2m.sh
fi

compton -b
desktop-sunwait.sh &
sxhkd &
unclutter -b
