export PATH="$HOME/bin:$PATH"

export GTK_IM_MODULE='uim'
export QT_IM_MODULE='uim'
uim-xim &
export XMODIFIERS='@im=uim'

xset r rate 250 30
xsetroot -cursor_name left_ptr&

setxkbmap -option compose:menu

xrandr --output $(get_snd_mon.sh) --auto --pos 0x0 --output eDP1 --primary --mode 1600x900 --pos 152x1080

compton --fading --fade-in-step 0.05 --fade-out-step 0.03 -b
lid_daemon.sh &
unclutter -b

